.side_bar
  .side_bar__user-name
    .side_bar__user-name__top-items
      %p.side_bar__user-name__top-items__name masa
      %ul.side_bar__user-name__top-items__icons
        %li.side_bar__user-name__top-items__icons__new-group
          %a(href="#")
            <i class="fa fa-edit"></i>
        %li.side_bar__user-name__top-items__icons__edit-user
          %a(href="#")
            <i class="fa fa-cog"></i>
  .side_bar__group
    %a(href="#")
      .side_bar__group__a
        %p.side_bar__group__a__name techcamp
        %p.side_bar__group__a__message まだメッセージはありません
